.header {
    display: flex;
    justify-content: space-between;
}
.list {
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    
}
.employees {
    width: 60%;
    padding-left: 150px;
    
}
.birthdays {
    margin-right: 100px;
    width: 25%;
    padding-left: 50px;
    border-bottom: 1px solid;
}