.wrapper-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.elems-left {
    display: flex;
    overflow: scroll;
    width: 60%;
}
.elems {
    display: flex;
    justify-content:flex-start;
}
.elems-right {
    border-left:  solid;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}
.letter {
    padding: 20px;
    width: 236px;
    font-size: 30px;
    font-weight: bold;
}
.empty {
    font-size: 50px;
}
.padd {
    padding: 60px;
}
.last-first-name {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}
.radio {
    margin-left: 20px;
}
.li-style {
    margin-left: 20px;
} 